
.main-block-text, .main-block-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-block > p {
  font-size: 12px;
}

.main-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-button {
  padding: 10px 24px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}